{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>

      {% if user.Followings %}
        {% for following in user.Followings %}
          <div> {{following.nick}}
            <input type="hidden" value="{{following.id}}" class="twit-user-id">
            <button class="twit-unfollow">삭제</button>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %} 
        {% for follower in user.Followers %}
          <div> {{follower.nick}}</div>
        {% endfor %}
      {% endif %} 
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
    document.querySelectorAll('.twit-unfollow').forEach(function(tag) {
      tag.addEventListener('click', function() {
        
        /** 언팔로우 할 대상 아이디 **/
        const userId = tag.parentNode.querySelector('.twit-user-id').value;

        if (confirm('언팔로잉하시겠습니까?')) {
              axios.delete(`/user/${userId}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }

      });
    });
</script>  
{% endblock %}
